## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)
fig = gmaps.figure()

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Max Temp,Current Description,Lat,Lng,Hotel Name
0,11,Banda Aceh,80.20,broken clouds,5.5577,95.3222,Sulthan Hotel International
1,12,Hilo,80.33,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
2,14,Georgetown,84.13,few clouds,5.4112,100.3354,Cititel Penang
3,18,Tabou,77.22,broken clouds,4.4230,-7.3528,hotêl doufoulougou
4,23,Faanui,79.50,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl> 
<dt>City</dt><dd>{City}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
#Create the marker for each city.
locations = vacation_df[["Lat","Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Acapulco"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Acapulco"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Coahuayana"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Tomatlan"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Ixtapa"]

print(vacation_start)
print(vacation_stop1)
print(vacation_stop2)
print(vacation_stop3)

    City_ID      City  Max Temp Current Description      Lat      Lng  \
28      110  Acapulco     82.22    scattered clouds  16.8634 -99.8901

                   Hotel Name
28  HS Hotsson Smart Acapulco
     City_ID        City  Max Temp Current Description      Lat       Lng  \
143      510  Coahuayana     83.68     overcast clouds  18.7333 -103.6833

                            Hotel Name
143  El rranchito michuacan de ocampos
    City_ID      City  Max Temp Current Description      Lat     Lng  \
42      146  Tomatlan     78.66     overcast clouds  19.9333 -105.25

    Hotel Name
42  El Salvial
    City_ID    City  Max Temp Current Description   Lat    Lng  \
36      136  Ixtapa     81.63          few clouds  20.7 -105.2

                 Hotel Name
36  Hotel Plaza Providencia

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

start

(16.8634, -99.8901)

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Acapulco = start
Coahuayana = stop1
Tomatlan = stop2
Ixtapa = stop3 
roadtrip = gmaps.directions_layer(Acapulco, Acapulco, 
                                  waypoints=[Coahuayana, Tomatlan, Ixtapa],
                                  travel_mode="DRIVING")
stop1

(18.7333, -103.6833)

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Max Temp,Current Description,Lat,Lng,Hotel Name
0,110,Acapulco,82.22,scattered clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
1,510,Coahuayana,83.68,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
2,146,Tomatlan,78.66,overcast clouds,19.9333,-105.2500,El Salvial
3,136,Ixtapa,81.63,few clouds,20.7000,-105.2000,Hotel Plaza Providencia

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat       Lng
0  16.8634  -99.8901
1  18.7333 -103.6833
2  19.9333 -105.2500
3  20.7000 -105.2000

In [25]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(roadtrip)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))